[submodule ".registry"]
	path = .registry
	url = https://github.com/natydasilva/natydasilva.r-universe.dev
	branch = HEAD
[submodule "PPtreeExt"]
	path = PPtreeExt
	url = https://github.com/natydasilva/PPtreeExt
